.gallery-FSM {
	margin-bottom: 40px;
}

.img-theory {
	margin: 25px 0;
	/* width: 350px; */
}

html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
}

body {
	padding-top: 90px;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 90px;
}
.modal { padding-right: 0 !important }

footer {
	bottom: 0;
	position: relative;
	width: 100%;
}

/* width
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
} */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

p {
	font-size: 18px;
}

.noresize {
	resize: none; 
}

table.table-bordered > thead > tr > th{
    border:1.5px solid;
}

table.table-bordered > tbody > tr > td{
    border:1.5px solid;
}

table.table-bordered > tbody > tr > th{
    border:1.5px solid;
}

.list-group-item-linkable:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

@page 
{

size: auto; /* auto is the current printer page size */
margin: 0mm; /* this affects the margin in the printer settings */
}

@media print {
#print {
display : none;
}
}

