.gallery-FSM {
	margin-bottom: 40px;
}

.img-theory {
	margin: 25px 0;
}

html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
}

body {
	padding-top: 90px;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 90px;
}

.modal {
	padding-right: 0 !important
}

footer {
	bottom: 0;
	position: relative;
	width: 100%;
}

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0px;
	/* Remove scrollbar space */
	background: transparent;
	/* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #FF0000;
}

p {
	font-size: 18px;
}

.noresize {
	resize: none;
}

table.table-bordered>thead>tr>th {
	border: 1.5px solid;
}

table.table-bordered>tbody>tr>td {
	border: 1.5px solid;
}

table.table-bordered>tbody>tr>th {
	border: 1.5px solid;
}

.list-group-item-linkable:hover {
	color: #555;
	text-decoration: none;
	background-color: #f5f5f5;
	cursor: pointer;
}

/* Sticky Sidebar */
.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.make-me-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 90px;

	padding: 0 15px;
}