{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
    <h3 class="mb-3">Автоматные языки</h3>
    <p><strong>Определение.</strong><br>Язык L называется автоматным, если существует конечный автомат, допускающий L.</p>
</div>
</div>

<ul>
    <li><p>Конечное множество объектов называется <strong>словарем</strong>.</p></li>
    
    <li><p>Элементы словаря называются <b>символами</b>.</p></li>
    
    <li><p><strong>Цепочкой (символов)</strong> над словарем будем называть произвольную конечную
    последовательность символов словаря. Символы будем далее обозначать латинскими
    буквами начала словаря, цепочки – малыми греческими буквами.
    <br><i>Пример.</i> Пусть Σ – словарь, содержащий три символа, <em>a,b,c</em>. Над словарем Σ
            можно построить различные цепочки, например, α=<em>abbca</em>, β=<em>cca</em>, γ=<em>b</em>.
        
    </p></li>
    
    <li><p>Пустая цепочка, для ее обозначения введен специальный символ <em>ε</em>.</p></li>
</ul>

<h5 class="mb-3 mt-5">Операции над цепочками.</h5>

<ul>
    <li><p>Цепочки строятся из символов конечного словаря.</p></li>

    <li><p>Пусть Σ – словарь, содержащий три символа: a, b, c. Σ={a, b, c}.<br>
        Над словарем Σ можно построить различные цепочки, например, α=abbca, β=cca, γ=b.
    </p></li>

    <li><p>Операция конкатенации двух цепочек: αβ=abbcacca.</p></li>
    <li><p>Пустая цепочка – единица конкатенации: εα= αε = α.</p></li>
    <li>
        <p>Операция подстановки в цепочку вместо одной подцепочки другой цепочки.<br>
        Например, цепочку abbcacca по правилу замены сас → b можно преобразовать в
                цепочку abbbca. Это можно записать: abbcacca ⇒ abbbca.
        </p>
    </li>
</ul>

<h5 class="mb-3 mt-5">Язык: формальное определение.</h5>

<p><strong>Определение.</strong><br>
    Языком над словарем Σ называется произвольное множество
    цепочек над этим словарем.<br>
    Это определение достаточно широко. Оно задает язык как некоторое множество
    (обычно бесконечное) одномерных последовательностей элементов любой природы
    и вложенного в них смысла, причем элементы эти берутся из некоторого конечного
    набора (словаря).</p>

<p>Очевидно, что над конечным непустым словарем можно определить бесконечное
    количество цепочек конечной длины (счетное множество).</p>
<p>Очевидно, что над конечным непустым словарем можно определить бесконечное
    количество языков, т.е. подмножеств множества всех возможных цепочек
    (континуум, т.к. число подмножеств счетного множества имеет мощность континуум).</p>

<h5 class="mb-3 mt-5">Примеры языков.</h5>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% endblock %}