{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
    <h1>Введение</h1>
    <p>Для начала введем необходимые базовые термины.</p>
    <p><a href="#" class="btn btn-primary btn-large">Перейти к практике</a></p>
</div>
</div>
<h2>Заголовок</h2>
<p>Описание</p>

<ul>
    <li>Конечное множество объектов называется <strong>словарем</strong>.</li>
    
    <li>Элементы словаря называются <strong>символами</strong>.</li>
    
    <li><strong>Цепочкой (символов)</strong> над словарем будем называть произвольную конечную
    последовательность символов словаря. Символы будем далее обозначать латинскими
    буквами начала словаря, цепочки – малыми греческими буквами.
    
    
    <ul>
    <li>Пример. Пусть Σ – словарь, содержащий три символа, <em>a,b,c</em>. Над словарем Σ
    можно построить различные цепочки, например, α=<em>abbca</em>, β=<em>cca</em>, γ=<em>b</em>.</li></ul>
    </li>
    
    <li>пустая цепочка, для ее обозначения введен специальный символ <em>ε</em>.</li>
</ul>

<div class="table-responsive">

    <table class="table table-bordered">
    <tbody>
        <tr>
            <td>p|q = q|p</td>
            <td>pe = ep = p</td>
            <td>pe = ep = p</td>
        </tr>
        <tr>
            <td>pe = ep = p</td>
            <td>p(q|r) = pq|pr</td>
            <td>pe = ep = p</td>
        </tr>
    </tbody>
    </table>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% endblock %}