{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
    <h3 class="mb-3">Основные определения и понятия</h3>
    <p>Для начала давайте введем необходимые базовые термины, которые пригодятся нам в дальнейшем.</p>
</div>
</div>

<ul>
    <li><p>Конечное множество объектов называется <strong>словарем</strong>.</p></li>
    
    <li><p>Элементы словаря называются <b>символами</b>.</p></li>
    
    <li><p><strong>Цепочкой (символов)</strong> над словарем будем называть произвольную конечную
    последовательность символов словаря. Символы будем далее обозначать латинскими
    буквами начала словаря, цепочки – малыми греческими буквами.
    <br><i>Пример.</i> Пусть Σ – словарь, содержащий три символа, <em>a,b,c</em>. Над словарем Σ
            можно построить различные цепочки, например, α=<em>abbca</em>, β=<em>cca</em>, γ=<em>b</em>.
        
    </p></li>
    
    <li><p>Пустая цепочка, для ее обозначения введен специальный символ <em>ε</em>.</p></li>
</ul>

<h5 class="mb-3 mt-5">Операции над цепочками</h5>

<ul>
    <li><p>Цепочки строятся из символов конечного словаря.</p></li>

    <li><p>Пусть Σ – словарь, содержащий три символа: a, b, c. Σ={a, b, c}.<br>
        Над словарем Σ можно построить различные цепочки, например, α=abbca, β=cca, γ=b.
    </p></li>

    <li><p>Операция конкатенации двух цепочек: αβ=abbcacca.</p></li>
    <li><p>Пустая цепочка – единица конкатенации: εα= αε = α.</p></li>
    <li>
        <p>Операция подстановки в цепочку вместо одной подцепочки другой цепочки.<br>
        Например, цепочку abbcacca по правилу замены сас → b можно преобразовать в
                цепочку abbbca. Это можно записать: abbcacca ⇒ abbbca.
        </p>
    </li>
</ul>

<h5 class="mb-3 mt-5">Язык: формальное определение</h5>

<p><strong>Определение.</strong><br>
    Языком над словарем Σ называется произвольное множество
    цепочек над этим словарем.<br>
    Это определение достаточно широко. Оно задает язык как некоторое множество
    (обычно бесконечное) одномерных последовательностей элементов любой природы
    и вложенного в них смысла, причем элементы эти берутся из некоторого конечного
    набора (словаря).</p>

<p>Очевидно, что над конечным непустым словарем можно определить бесконечное
    количество цепочек конечной длины (счетное множество).</p>
<p>Очевидно, что над конечным непустым словарем можно определить бесконечное
    количество языков, т.е. подмножеств множества всех возможных цепочек
    (континуум, т.к. число подмножеств счетного множества имеет мощность континуум).</p>

<p><strong>Определение.</strong><br>Язык <span class="math inline">\(L\)</span> называется автоматным, если существует конечный автомат, допускающий <span class="math inline">\(L\)</span>.</p>

<h5 class="mb-3 mt-5">Примеры языков.</h5>


<h5 class="mb-3 mt-5">Регулярные множества. Формальное определение</h5>

<ul>
    <li><p><b>Определение.</b><br>Класс регулярных множеств над конечным словарем Σ определяется так:</p>
        <p>∅ - регулярное множество;<br>
        <span class="math inline">\( \{ ε \} \)</span> - регулярное множество;<br>
        <span class="math inline">\( \{ a \} \)</span> - регулярное множество для любого a∈Σ;<br></p>
    </li>

    <li><p>Если <span class="math inline">\(S\)</span> и <span class="math inline">\(T\)</span> - регулярные множества, то регулярны и:</p>
        <p>объединение <span class="math inline">\(S∪T\)</span><br>
        произведение <span class="math inline">\(ST\)</span><br>
        итерация <span class="math inline">\(S^*\)</span><br></p>
    </li>

    <li><p>Примеры регулярных множеств:</p>
        <p><span class="math inline">\({ab, ba}^* {aa} = {aa, abaa, baaa, ababbaaa, babaabaa, ... }\)</span><br>
        <span class="math inline">\({b} ( {c} ∪ {d, ab}^*) = {bc, b, bd, bab, bababd, ... }\)</span><br></p>
    </li>

    <li><p>Примеры нерегулярных множеств:</p>
        <p><span class="math inline">\( \{ anbn| n>0 \} = \{ ab, aabb, aaabbb, aaaabbbb, ... \} ; \)</span><br>
        <span class="math inline">\( \{ α ⏐ \)</span> в цепочке α количества вхождений символов а и b совпадают <span class="math inline">\( \} = \)</span><br>
        <span class="math inline">\( = \{ aababbba, ε, baababaabb, ba, ab, ... \} \)</span><br></p>
    </li>
</ul>

<h5 class="mb-3 mt-5">Регулярные выражения</h5>

<ul>
    <li>
        <p>Регулярные множества хороши тем, что их можно описать формулами, которые называются регулярными выражениями.</p>
    </li>

    <li>
        <p>Регулярное выражение показывает, как можно построить данное регулярное множество с использованием трех операций: конкатенации, объединения и итерации</p>
    </li>

    <li><p><b>Определение.</b><br>Класс регулярных выражений над конечным словарем Σ определяется так:</p>
        <p>∅, ε - и любое a ∈ Σ - регулярные выражения;</p>
    </li>

    <li>
        <p>Если <span class="math inline">\(\boldsymbol{R_1}\)</span> и <span class="math inline">\(\boldsymbol{R_2}\)</span> - рег. выр., то регулярными выражениями будут:</p>
        <p>- их сумма <span class="math inline">\(\boldsymbol{R_1 + R_2}\)</span>; (знак " + ", иногда записывают как " | ")<br><i>Например</i>, { "ab", "c" } | { "ab", "d", "ef" } = { "ab", "c", "d", "ef" }<br><br>
        - их произведение <span class="math inline">\(\boldsymbol{R_1R_2}\)</span>; <br><i>Например</i>, { "boy", "girl" }{ "friend", "cott" } = { "boyfriend", "girlfriend", "boycott", "girlcott" }<br><br>
        - итерация <span class="math inline">\(\boldsymbol{R_1^*}\)</span> и урезанная итерация <span class="math inline">\(\boldsymbol{R_1^+}\)</span>;<br><i>Например</i>, { "Run", "Forrest" }* = { ε, "Run", "Forrest", "RunRun", "RunForrest", "ForrestRun", "ForrestForrest", ... }<br><br></p>
    </li>

    <li>
        <p>Приоритеты операций: *, произведение, сложение</p>
    </li>
    <li>
        <p>Скобки ( ) используются для группировки (для задания порядка выполнения операций)</p>
    </li>
</ul>

<p><i>Примеры регулярных выражений</i>: <span class="math inline">\(ab + ba^*, (aa)^*b + (c + dab)^* \)</span></p>

<h5 class="mb-3 mt-5">Регулярные множества и регулярные выражения</h5>

<p>Чтобы лучше понять операции, рассмотрим соответствие операций регулярных выражений и регулярных множеств:</p>

<ul>
    <li><p>конкатенация подформул соответствует произведению множеств</p></li>
    <li><p>операция сложения ‘+’ (или) соответствует операции ∪ объединения множеств</p></li>
    <li><p>операция итерации  <span class="math inline">\(R^*\)</span> соответствует операции итерации множеств (т.е. 0 или большее число повторений)</p></li>
    <li><p>операция  <span class="math inline">\(R^+\)</span> соответствует операции усеченной итерации множества (т.е. 1 или большее число повторений)</p></li>
</ul>

<p>Таким образом, выражение  <span class="math inline">\(b(c+(d+a)^*) \)</span> определяет язык  <span class="math inline">\( \{ bc, b, bd, bdd, bda, baad, ... \} \)</span>, полученный последовательностью операций над одноэлементными множествами:
    <span class="math inline">\( \{ b \} •( {c} ∪ ( \{ d \} ∪ \{ a \}• \{ b \} )^*) \)</span></p>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script>$('#basic_definitions').addClass('active');</script>

{% endblock %}