{% extends "theory/main.html" %}
{% load staticfiles %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
    <h3 class="mb-3">Преобразование ДКА в регулярное выражение</h3>
    <p>Существуют два популярных метода для преоброзования ДНА в соответствующее им регулярное выражение: Arden’s Method и метод исключения состояний (State Elimination Method).</p>
    <p>Мы рассмотрим с вами последний из них.</p>
    </div>
</div>
<h5 class="mb-3">Преобразование детерминированного конечного автомата в регулярное выражение.</h5>
<p><i>Алгоритм:</i></p>
<p><i>Вход.</i> The two popular methods for converting a DFA to its regular expression are.</p>

<p><i>Выход.</i> НКА <span class="math inline">\(N\)</span>, такой что <span class="math inline">\(L(N) = L(r)\)</span>.</p>

<p><i>Метод</i> включает следующие шаги:</p>

<p><h5 class="mb-2">Шаг 1.</h5>Если существует какое-либо входящее ребро в начальное состояние, то создаем новое начальное состояние, не имеющее входящего ребра.</p>

<img id="graph_0" src="{% static 'media/DFA_to_regex/graph_0.png' %}" alt="graph_0">

<p><h5 class="mb-2">Шаг 2.</h5><i>Важно!</i> В КНА должно быть только одно конечное состояние.<br> Если в ДКА существует несколько конечных состояний, преобразуем все конечные состояния в неконечные и создаем новое единственное конечное состояние.</p>

<img id="graph_1" src="{% static 'media/DFA_to_regex/graph_1.png' %}" alt="graph_1">

<p><h5 class="mb-2">Шаг 3.</h5><i>Важно!</i> Конечное состояние КНА не должно иметь какого-либо исходящего преимущества.<br>Если существует какое-либо исходящее ребро из конечного состояния, то создаем новое конечное состояние, не имеющее выходного ребра из него.</p>
<img id="graph_2" src="{% static 'media/DFA_to_regex/graph_2.png' %}" alt="graph_2">

<p><h5 class="mb-2">Шаг 4.</h5><ul><li>Устраняем все промежуточные состояния по одному.</li><li>Эти состояния могут быть устранены в любом порядке.</li></ul></p>

<p><h5 class="mb-2">В результате,</h5><ul><li>Только начальное состояние, переходящее в конечное состояние, останется.</li><li>Стоимость этого перехода является обязательным регулярным выражением.</li></ul></p>

<p><i>На заметку.</i> Метод исключения состояний может быть применен к любым конечным автоматам.</p>

<hr>
<h5>Рассмотрим описанный выше метод на примере:</h5>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% load staticfiles %}
  <script src="{% static 'js/viz.js/viz.js' %}"></script>
  <script src="{% static 'js/viz.js/full.render.js' %}"></script>

{% endblock %}