{% extends "theory/main.html" %}
{% load staticfiles %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
        <h3>Конечный автомат </h3>
        <p><b>Детерминированный конечный автомат (ДКА)</b> – пятерка <span class="math inline">\({\displaystyle (Q,\Sigma ,\delta ,q_{0},F)}\)</span>, где:</p>
        <p>
            <ul>
                <li><span class="math inline">\(Q\)</span> – конечное множество состояний;</li>
                <li><span class="math inline">\(\Sigma\)</span> – конечное множество входных символов (алфавит);</li>
                <li><span class="math inline">\(\delta : Q \times \Sigma \rightarrow Q \)</span> – функция переходов;</li>
                <li><span class="math inline">\(q_{0} \in Q\)</span> – начальное состояние;</li>
                <li><span class="math inline">\(F \subseteq Q\)</span> – множество допускающих состояний.</li>
            </ul>
        </p>
        <!-- <p><a href="#" class="btn btn-primary btn-large">Попрактиковаться!</a></p> -->
    </div>
</div>

<p><b>Недетерминированный конечный автомат (НКА)</b> отличается от ДКА значением функции 
    переходов, которое является множеством состояний, а не единичным состоянием.</p>

<p>Конечный автомат можно представить в виде диаграммы переходов:</p>

<img class="img-theory img-fluid"  src="{% static 'media/DFA_to_regex/theory_FA_0.png' %}" alt="problem_0">


<p><b>Диаграмма переходов</b> – граф, вершины которого соответствуют состояниям автомата, а дуги –
    переходам из одних состояний в другие, определяемым функцией переходов δ. Дуга
    подписывается символом, по которому осуществляется переход. Также на диаграмме
    отмечаются допускающие состояния и начальное состояние.</p>

<p>Начиная работу в начальном состоянии, ДКА читает входную строку символ за символом и, на
    основе функции переходов, определяет состояние, в которое необходимо перейти. Автомат
    допускает строку, если после прочтения всех ее символов находится в допускающем состоянии. 
    </p>

<p>В случае НКА, автомат на каждом шаге определяет множество состояний, в которое он может
    перейти, и выбирает любое из них для перехода. Автомат допускает строку, если существует
    последовательность выборов состояний, приводящая к допускающему состоянию. </p>

<p>Введем следующее расширение понятия НКА – <b>ε-НКА</b>. Это расширение отличается от НКА
    функцией переходов, которая может принимать в качестве аргументов не только пару,
    состоящую из состояния и символа алфавита, но и пару, состоящую из состояния и
    специального символа ε. В этом случае говорят, что автомат может совершать спонтанные εпереходы из одного состояния в другое, не читая при этом следующий символ строки.</p>

<p><i>Примечание.</i> ε-НКА полезны при рассмотрении вопроса о построении автоматов по регулярным выражениям (см. "Построение НКА по регулярному выражению").</p>
<hr>
<h5 class="mt-5 mb-3">Конечный автомат-распознаватель.</h5>
<p>Автомат <span class="math inline">\(M = {\displaystyle (Q,\Sigma ,\delta ,q_{0},F)}\)</span> допускает строку <span class="math inline">\(w = w_{1}w_{2} \ldots w_{n}\)</span>, где
    <span class="math inline">\(w_i ∈ Σ\)</span>, если существует последовательность состояний <span class="math inline">\(r_0, r_1, \ldots , r_n\)</span>, такая что:</p>
<p>
    <ol>
        <li><p><span class="math inline">\( \large r_{0} = q_{0}\)</span></p></li>
        <li><p><span class="math inline">\( \large \delta (r_{i}, w_{i+1}) = r_{i+1} \qquad (i = 0, \ldots , n − 1)\)</span></p></li>
        <li><p><span class="math inline">\( \large  r_{n} \in F \)</span></p></li>
    </ol>
</p>

<p>т.е. автомат <span class="math inline">\(M\)</span> распознает язык <span class="math inline">\(A = \{w | M \text{ допускает } w \} .\)</span> <br> Неформально: aвтомат <span class="math inline">\(M\)</span> допускает язык <span class="math inline">\(A\)</span>, если он допускает все цепочки этого языка, и только их.</p>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script>$('#FA').addClass('active');</script>

{% endblock %}