{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
        <h3 class="mb-3">Введение</h3>
        <p>В данном кратком руководстве рассматриваются следющие разделы:</p>
        
        <ol>
            <li><p><a href="{% url 'basic_definitions' %}">Регулярные множества и выражения</a></p></li>
            <li><p><a href="{% url 'regex_equivalence' %}">Эквивалентность регулярных выражений</a></p></li>
            <li><p><a href="{% url 'FA' %}">Конечные автоматы</a></p></li>
            <li><p><a href="{% url 'regex_to_NFA' %}">Построение НКА по регулярному выражению</a></p></li>
            <li><p><a href="{% url 'NFA_to_DFA' %}">Построение ДКА по НКА</a></p></li>
            <li><p><a href="{% url 'DFA_to_regex' %}">Преобразование ДКА в регулярное выражение</a></p></li>
        </ol>
    </div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script>$('#intro').addClass('active');</script>

{% endblock %}