{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
        <h3 class="mb-3">Введение</h3>
        <p>В данном кратком руководстве рассматриваются следющие разделы:</p>
        
        <ol>
            <li><p>Регулярные множества и выражения</p></li>
            <li><p>Эквивалентность регулярных выражений</p></li>
            <li><p>Конечные автоматы</p></li>
            <li><p>Автоматные языки</p></li>
            <li><p>Построение НКА по регулярному выражению</p></li>
            <li><p>Построение ДКА по НКА</p></li>
            <li><p>Преобразование ДКА в регулярное выражение</p></li>
        </ol>
    </div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script>$('#intro').addClass('active');</script>

{% endblock %}