{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
    <h1>Введение</h1>
    <p>Для начала введем необходимые базовые термины.</p>
    <p><a href="#" class="btn btn-primary btn-large">Перейти к практике</a></p>
</div>
</div>
<h2>Заголовок</h2>
<p>Описание</p>
<div class="table-responsive">

    <table class="table table-bordered">
    <tbody>
        <tr>
            <td>p|q = q|p</td>
            <td>pe = ep = p</td>
            <td>pe = ep = p</td>
        </tr>
        <tr>
            <td>pe = ep = p</td>
            <td>p(q|r) = pq|pr</td>
            <td>pe = ep = p</td>
        </tr>
    </tbody>
    </table>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% endblock %}