{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
    <h1>Hello!</h1>
    <p>Мы собираем делать то то.</p>
    <p><a href="#" class="btn btn-primary btn-large">Попрактиковаться!</a></p>
</div>
</div>

<p>
    Регулярные выражения, введенные ранее, служат для описания регулярных множеств. Для
    распознавания регулярных множеств служат конечные автоматы.
    Недетерминированный конечный автомат (НКА) - это пятерка M = (Q, T, D, q0, F), где
</p>


<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% endblock %}