{% extends "theory/main.html" %}

{% block doc %}
<div class="jumbotron">
    <div class="container">
    <h3 class="mb-3">Эквивалентность регулярных выражений</h3>
    <p>Два регулярных выражения R и S называются эквивалентными
        (обозначается R=S) тогда и только тогда, когда соответствующие им
        языки совпадают, т.е. L(R)=L(S).</p>
    <p>Пример:<br>
        a*a+ = aa* = a+ - все непустые цепочки, состоящие из а</p>
</div>
</div>

<p>Для любых регулярных выражений R, S и T справедливы соотношения:</p>

<ul>
    <li><p>R + S = S + R; </p></li>
    <li><p>R + R=R;</p></li>
    <li><p>∅ + R = R;</p></li> 
    <li><p>(R + S) + T = R + (S + T)</p></li>
    
    <li><p>Rε=εR=R;</p></li>
    <li><p>(RS)T=R(ST);</p></li>
    <li><p>∅R=R∅=∅ (но в общем случае RS≠SR);</p></li> 
    <li><p>R(S+T)=RS+RT;</p></li>

    <li><p>(S+T)R=SR+TR;</p></li>
    <li><p>R*=ε + R + R2 + R3 + .. + RkR*;</p></li>
    <li><p>RR*=R*R;</p></li> 
    <li><p>R(SR)*=(RS)*R</p></li>

    <li><p>R+=R + R2 + R3 + ... + RkR*</p></li> 
    <li><p>R + ε = R*</p></li>
</ul>

<h5 class="mb-3 mt-5">Пример эквивалентных преобразований:</h5>

<p>b(b + aa*b) => [ по правилу R = ε R ]</p>
<p>b(εb + aa*b) => [ по правилу SR + TR = (S + T) R]</p>
<p>b( ε + aa* )b => [ по правилу RR* = R+ ]</p>
<p>b( ε + a+ )b => [ по правилу ε + R+ = R* ]</p>
<p>b(a*)b => [ убираем скобки ]</p>
<p>ba*b</p>

<h5 class="mb-3 mt-5">Регулярные языки и автоматные языки</h5>
<p>Итак, регулярные выражения - это конечные формулы, задающие
    регулярные языки. Но подобным же свойством обладают и конечные
    автоматы - они тоже задают языки</p>


<h5 class="mb-3 mt-5">Теорема Клини:</h5>
<p> Классы регулярных множеств и автоматных языков совпадают, т.е. LA = LR.</p>
<p>Это значит, что любой язык, распознаваемый конечным автоматом,
    может быть задан формулой, и для любого языка, заданного
    формулой (рег выр), может быть построен КА, его распознающий</p>

<p class="mt-5"><i>*Источник: "Логика и теория автоматов" (Ю.Г.Карпов)</i></p>


<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% endblock %}

((a+bc)*)*=(a+bc)*