{% extends "mainApp/wrapper.html" %}

{% block account-loginNO %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item active my-2 px-1"><a class="btn btn-primary" data-toggle="modal" href="#popupLogin" role="button">Регистрация</a></li>
    <li class="nav-item my-2 px-1"><a class="btn btn-success" href="#" role="button">Вход</a></li>
</ul>
{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
<script>
	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( '#practice_tab' ).addClass( 'active' );
</script>
{% endblock %}