{% extends "mainApp/wrapper.html" %}

{% block title %}Практика{% endblock %}

{% block account-loginNO %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item active my-2 px-1"><a class="btn btn-primary" data-toggle="modal" href="#popupLogin" role="button">Регистрация</a></li>
    <li class="nav-item my-2 px-1"><a class="btn btn-success" href="#" role="button">Вход</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 sidebar">
        <ul class="nav nav-sidebar hidden-xs hidden-sm list-group">
            <li class="list-group-item list-group-item-linkable" data-link="{% url 'chain_acceptance' %}" id="chain_acceptance">Допущение цепочки автоматом</li>
            <li class="list-group-item list-group-item-linkable" data-link="{% url 'lang_description' %}" id="lang_description">Регулярное выражение по описанию языка</li>
            <li class="list-group-item list-group-item-linkable" data-link="{% url 'task2' %}" id="task2">Принадлежность слова регулярному выражению</li>
            <li class="list-group-item list-group-item-linkable" data-link="{% url 'simplify_regex' %}" id="simplify_regex">Упростить регулярное выражение</li>
            <li class="list-group-item list-group-item-linkable" data-link="{% url 'task3' %}" id="task3">Соотвествие автомата рег. выражению</li>
            <li class="list-group-item list-group-item-linkable" data-link="{% url 'task_DFA_to_regex' %}" id="task_DFA_to_regex">ДКА в регулярное выражение</li>
            <li class="list-group-item list-group-item-linkable" data-link="{% url 'task_DFA_to_regex' %}" >Регулярность языка</li>
        </ul>
    </div>
    <div class="col-sm-9">
    {% block task %}
    {% endblock %}
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        $('.list-group-item-linkable').on('click', function() {
            // same window/tab:
            window.location.href = $(this).data('link');
            // new window/tab:
            //window.open($(this).data('link'));
        });

        $('.list-group-item-linkable a, .list-group-item-linkable button')
        .on('click', function(e) {
            // e.stopPropagation();
        });
    });
	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( '#practice_tab' ).addClass( 'active' );
</script>
{% endblock %}