{% extends "mainApp/wrapper.html" %}

{% block account-loginOK %}

{% endblock %}

{% block account-loginNO %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item my-2 px-1"><a class="btn btn-primary" data-toggle="modal" href="#popupLogin" role="button" id="regClick">Регистрация</a></li>
    <li class="nav-item my-2 px-1"><a class="btn btn-success" data-toggle="modal" href="#popupLogin" role="button" id="logClick">Вход</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="jumbotron">
<div class="container-fluid">
<div class="continer">
    <main role="main">
        <div class="jumborton">
            <div class="col-sm-8 mx-auto">
                <h1>Регулярные выражения</h1>
                <br>
                <h3>Введение</h3>
                <br>
                <p>Механизм регулярных выражений нашел применение во многих программных продуктах, входит
                    в стандартную библиотеку или даже является частью языка программирования. При помощи
                    регулярных выражений можно достаточно просто описать любой регулярный язык, а для
                    регулярных языков существуют простые алгоритмы проверки принадлежности цепочки заданному
                    языку.</p>
                <p>Обзор задания: реализовать программу, которая принимает в качестве параметра регулярное
                    выражение, читает строчки (цепочки символов) со стандартного ввода, а на стандартный вывод
                    выдает только те строчки, которые удовлетворяют заданному регулярному выражению. У
                    программы должен быть специальный режим работы, в котором она печатает на стандартный
                    вывод описание сгенерированного для разбора цепочки автомата</p>
                <br>
                <p><a class="btn btn-primary btn-lg" href="{% url 'intro' %}" role="button" style="padding: .5rem 2rem !important;">Начать</a></p>
            </div>
        </div>
    </main>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}

<script>
$('#logClick').click(function(e) {
        e.preventDefault();
        $( '#reg-nav-item' ).removeClass( 'active' );
        $( '#log-nav-item' ).addClass( 'active' );
});
    
$('#regClick').click(function(e) {
        e.preventDefault();
        $( '#reg-nav-item' ).addClass( 'active' );
        $( '#log-nav-item' ).removeClass( 'active' );
});
$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
$( '#practice_tab' ).addClass( 'active' );
</script>

{% endblock %}
