<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Default Title{% endblock %}</title>

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <!--    jQuerty-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <title>
    {% block title %}
    {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
       <div class="container">
        
        <a href="{% url 'index' %}" class="navbar-brand" >REGEX</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1" >
            <span class="sr-only">Navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-1" id="main_tab"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                <li class="nav-item px-1" id="theory_tab"><a class="nav-link" href="{% url 'intro' %}">Теория</a></li>
                <li class="nav-item px-1" id="practice_tab"><a class="nav-link" href="/practice">Практика</a></li>
            </ul>
            {% if status %}
            {% block account-loginOK %}
            {% endblock %}
            {% else %}
            {% block account-loginNO %}
            {% endblock %}
            {% endif %}
        </div>
        </div>
    </nav>
    
    <main role="main" class="container">
    
      
    {% block content %}
    {% endblock %}
    
    <div id="popupLogin" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                   <h4 class="modal-title">Добро пожаловать!</h4>
                    <button class="close" data-dismiss="modal" aria-label="Close" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#register" data-toggle="tab" id="reg-nav-item"  target="_blank">Регистрация</a></li>
                    <li class="nav-item"><a class="nav-link" href="#login" data-toggle="tab" id="log-nav-item"  target="_blank">Вход</a></li>
                </ul>
                <br>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="register">
                        <form id="registration_form" autocomplete="on" role="form" >
                        <div class="form-group">
                            <label for="id_registration_full-name">Имя и фамилия</label>
                            <input id="id_registration_full-name" class="form-control" autofocus placeholder="Имя и фамилия" spellcheck="true" autocomplete="name" name="full_name" type="text">
                        </div>
                       <div class="form-group">
                            <label for="id_registration_email">Email</label>
                            <input id="id_registration_email" class="form-control" required placeholder="E-mail" spellcheck="true" autocomplete="name" name="email" type="email">
                        </div>
                       <div class="form-group">
                            <label for="id_registration_password">Пароль</label>
                            <input id="id_registration_password" class="form-control" placeholder="Пароль" spellcheck="true" autocomplete="password" name="password" type="email">
                        </div>
                    </form>
                    <br>
                    <div class="text-right">
                        <button class="btn btn-success btn-block" data-dismiss="modal">Регистрация</button>
                    </div>
                    </div>
                    
                    <div role="tabpanel" class="tab-pane" id="login">
                        <form id="login_form" autocomplete="on" role="form" >
                       <div class="form-group">
                            <label for="id_login_email">Email</label>
                            <input id="id_login_email" class="form-control" required placeholder="E-mail" spellcheck="true" autocomplete="name" name="email" type="email">
                        </div>
                       <div class="form-group">
                            <label for="id_login_password">Пароль</label>
                            <input id="id_login_password" class="form-control" placeholder="Пароль" spellcheck="true" autocomplete="password" name="password" type="email">
                        </div>
                    </form>
                      <br>
                       <div class="text-right">
                            <button class="btn btn-success btn-block" data-dismiss="modal">Вход</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
   
  </main>
 
    
    
    <!--    Latest compiled and minified JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">
    $(document).ready(function () {
        $('#popupLogin').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            if(recipient == "reg") {                
                $( '#reg-nav-item' ).addClass( 'active' );
                $( '#register' ).addClass( 'active' );
                $( '#log-nav-item' ).removeClass( 'active' );
                $( '#login' ).removeClass( 'active' );
            }
            else {
                $( '#reg-nav-item' ).removeClass( 'active' );
                $( '#log-nav-item' ).addClass( 'active' );
                $( '#register' ).removeClass( 'active' );
                $( '#login' ).addClass( 'active' );
            }
        });
    });
    </script>
</body>
</html>