{% extends "practice/main.html" %}

{% block task %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" id="prev">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for i in range %}
    <li class="page-item" id="btn_task_{{ i }}"><a class="page-link">{{ i }}</a></li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link" aria-label="Next" id="next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<div class="jumbotron">
  <div class="container">
    <h5>Дано регулярное выражение:</h5>
    <br>
    <p id="regex">
      <!-- Target for dynamic svg generation -->
    </p>
    <hr>
    <p>Принадлежит ли слово данному регулярному выражению?</p>
    <p id="statement">loading...</p><br>
    <p id="nnn" style="display:none;">{{ tasks_number }}</p>
    <div id="display_result" style="display: none;">
      <p id="result"></p>
      <button class="btn btn-primary" id="btn_repeat">Повторить</button>
    </div>

    <div class="row" id="answer_request">
      <div class="col">
        <button class="btn btn-success btn-block" id="btn_yes">Да</button>
      </div>
      <div class="col">
        <button class="btn btn-danger btn-block" id="btn_no">Нет</button>
      </div>
    </div>
  </div>
</div>

{% load staticfiles%}
<script src="{% static 'js/practice/expression_belongs.js' %}"></script>
<script src="{% static 'js/practice/results.js' %}"></script>
<script src="{% static 'js/practice/moving.js' %}"></script>
<script src="{% static 'js/practice/getData.js' %}"></script>
<script>
  $('#expression_belongs').addClass('active');
</script>
{% endblock %}