{% extends "practice/main.html" %}

{% block task %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" id="prev" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for i in range %}
    <li class="page-item" id="btn_task_{{ i }}"><a class="page-link">{{ i }}</a></li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link" id="next" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<div class="jumbotron">
  <div class="container">
    <h5>Дан конечный автомат-распознаватель:</h5>
    <br>
    <div id="graphviz_svg">
      <!-- Target for dynamic svg generation -->
    </div>
    <hr>
    <div id="answer_request">
      <form>
        {% csrf_token %}
        <div class="form-group mb-3 mt-">
          <label for="inputRegex">
            <p class="mt-4 mb-2">Какое регулярное выражение ему соответствует?</p>
          </label>
          <input class="form-control noresize w-50 " rows="1" autocomplete="off" placeholder="Введите здесь" required="required"
            type="text" id="inputRegex" name="q" required>
        </div>
        <input type="hidden" name="answer" id="answer">
        <button type="submit" class="btn btn-primary" id="btn_accept">Подтвердить</button>
      </form>
    </div>
    <p id="nnn" style="display:none;">{{ tasks_number }}</p>
    <div id="display_result" style="display: none;">
      <p id="result"></p>
      <button class="btn btn-primary" id="btn_repeat">Повторить</button>
    </div>
  </div>
</div>

{% load staticfiles %}
<script src="{% static 'js/viz.js/viz.js' %}"></script>
<script src="{% static 'js/viz.js/full.render.js' %}"></script>
<script src="{% static 'js/practice/taskDFAtoregex.js' %}"></script>
<script src="{% static 'js/practice/moving.js' %}"></script>
<script src="{% static 'js/practice/results.js' %}"></script>
<script>
  $('#task_DFA_to_regex').addClass('active');
</script>

{% endblock %}