{% extends "practice/main.html" %}

{% block task %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" id="prev">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active" id="btn_task_1"><a class="page-link">1</a></li>
    <li class="page-item" id="btn_task_2"><a class="page-link">2</a></li>
    <li class="page-item" id="btn_task_3"><a class="page-link">3</a></li>
    <li class="page-item" id="btn_task_4"><a class="page-link">4</a></li>
    <li class="page-item" id="btn_task_5"><a class="page-link">5</a></li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" id="next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<div class="jumbotron">
    <div class="container">
    <h5>Дан конечный автомат-распознаватель:</h5>
    <br><div id="graphviz_svg"><!-- Target for dynamic svg generation --></div><hr>
    <p>Допускает ли автомат данную цепочку?</p>
    <p id="statement">loading...</p><br>
    <p id="result"></p>
    <div class="row" id="answer_request">
    <div class="col">
      <button class="btn btn-success btn-block" id="btn_yes">Да</button>
    </div>
    <div class="col">
      <button class="btn btn-danger btn-block" id="btn_no">Нет</button>
    </div>
  </div>
</div>
</div>

{% load staticfiles%}
<script src="{% static 'js/viz.js/viz.js' %}"></script>
<script src="{% static 'js/viz.js/full.render.js' %}"></script>
<script src="{% static 'js/practice/practice_task_1.js' %}"></script>
<script src="{% static 'js/practice/moving.js' %}"></script>


{% endblock %}