{% extends "mainApp/wrapper.html" %}

{% block account-loginNO %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item active my-2 px-1"><button class="btn btn-primary" data-toggle="modal" data-target="#popupLogin" id="regClick" data-whatever="reg">Регистрация</button></li>
    <li class="nav-item my-2 px-1"><button class="btn btn-success" data-toggle="modal" data-target="#popupLogin" id="logClick" data-whatever="log">Вход</button></li>
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 sidebar">
        <ul class="nav nav-sidebar hidden-xs hidden-sm list-group">
            <li class="list-group-item"><a href="{% url 'intro' %}">Введение</a></li>
            <li class="list-group-item"><a href="{% url 'basic_definitions' %}">Регулярные множества и выражения</a></li>
            <li class="list-group-item"><a href="{% url 'regex_equivalence' %}">Эквивалентность регулярных выражений</a></li>
            <li class="list-group-item"><a href="{% url 'FA' %}">Конечные автоматы</a></li>
            <li class="list-group-item"><a href="{% url 'automaton_languages' %}">Автоматные языки</a></li>
            <li class="list-group-item"><a href="{% url 'regex_to_NFA' %}">Построение ДКА по регулярному выражению</a></li>
            <li class="list-group-item"><a href="#">Построение НКА</a></li>
            <li class="list-group-item"><a href="{% url 'NFA_to_DFA' %}">Построение ДКА по НКА</a></li>
            <li class="list-group-item"><a href="{% url 'DFA_to_regex' %}">Преобразование ДКА в регулярное выражение</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
    {% block doc %}
    {% endblock %}
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	$( '#theory_tab' ).addClass( 'active' );
    
    
    $('#logClick').click(function(e) {
        e.preventDefault();
        $( '#reg-nav-item' ).removeClass( 'active' );
        $( '#log-nav-item' ).addClass( 'active' );
    });
    
    $('#regClick').click(function(e) {
        e.preventDefault();
        $( '#reg-nav-item' ).addClass( 'active' );
        $( '#log-nav-item' ).removeClass( 'active' );
    });

    // $('#modal-login').on('show.bs.modal', function (e) {
    //     e.preventDefault();
    //     $( '#reg-nav-item' ).removeClass( 'active' );
    //     $( '#log-nav-item' ).removeClass( 'active' );
    // })
</script>
{% endblock %}
